# User ID
client_id = '' 
# User secret ID
client_secret = '' 
# User username
username = '' 
# User password
password = '' 
# User agent
user_agent = 'JustNoBot/0.2 by MaraJade' 

# Bot name
bot_name = "TheJustNoBot" 
# Database name
db_name = "justno.db" 

# Comma separated subreddit name strings
subreddits = []
